/*
html5 Reset Stylesheet
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/*the start of my code edit*/


/* (Web) navigation bar */

#web-menu {
    position: fixed;
    margin-top: 0px;
    left: 0px;
    right: 0px;
}


/* (Web) Banner image in the main page */

.banner {
    display: flex;
    position: static;
    justify-content: center;
    background: url("/image/luca-onniboni-4v9Kk01mEbY-unsplash.jpg") no-repeat center center fixed;
    background-size: auto;
    width: 100%;
    height: 100vh;
    margin-top: 0px;
}

.banner__content {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}


/* (Web) Product Introduction */


/* (Web) Row 1 */

#Section-One-Container {
    padding: 20% 10% 20% 20%;
}

#Section-One-Container-text {
    padding: 3%;
    display: flex;
    align-items: center;
}

#Section-One-Container-text .title {
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 35px;
    color: black;
    width: 100%;
    padding: 20% 10% 20% 20%;
}


/* (Web) Row 2 */

#Section-Two-Container {
    padding: 10% 10% 10% 20%;
}

#Section-Two-Container-text {
    padding: 3%;
    display: flex;
    align-items: center;
}

#Section-Two-Container-text .title {
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 35px;
    color: black;
    width: 100%;
    padding: 0 10% 20% 20%;
}


/* (Web) Row 3 */

#Section-Three-Container {
    padding: 10% 10% 10% 20%;
}

#Section-Three-Container-text {
    padding: 3%;
    display: flex;
    align-items: center;
}

#Section-Three-Container-text .title {
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 35px;
    color: black;
    width: 100%;
    padding: 0 10% 20% 20%;
}


/* (Web) Download Link  */

.download-description {
    color: black;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 25px;
}

.Trigger {
    text-align: center;
    margin: 5% auto;
    padding: 10%;
}

.Trigger h1 {
    color: white;
}

.Apple-Download {
    margin-top: 3% !important;
}

.Android-Download {
    margin-top: 3% !important;
}

#save-button {
    margin-top: 2%;
}


/* (Web) Footer */

.Footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
}


/* Change footer link color to black */


/* (Web) Footer Link  */

a.footer-main-page,
a.footer-privacy-page,
a.footer-about-page,
.credit {
    color: black;
}

.footer-link {
    color: black;
    font-family: 'ZCOOL KuaiLe', cursive;
    height: 80%;
}

.footer-link ul li:not(:last-child) {
    margin-bottom: 5px;
}


/* Responsive design for mobile device */


/* Mobile Side */

@media screen and (max-width: 768px) {
    /* Responsive Menu */
    /* make the web menu disappear */
    #web-menu {
        display: none;
    }
    a.navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        width: 9% !important;
        display: inline-block;
        margin-left: 0;
    }
    /* Make the mobile navigation burger menu icon float to the right */
    button.navbar-toggler {
        float: right;
    }
    /* Set logo for mobile navigation bar */
    img.mobile-logo {
        width: 100%;
    }
    .logo-button {
        width: 90%;
        display: inline;
        margin-left: auto;
    }
    .web-product-intro {
        display: none;
    }
    .banner {
        display: none;
    }
    div.mobile-product-container {
        width: 100%;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 5%;
    }
    div.description-container {
        margin: 10%;
        text-align: center;
        font-size: 30px;
    }
    #image-container img {
        width: 100%;
        height: auto;
    }
}


/* Web Side */

@media screen and (min-width: 768px) {
    #mobile-menu {
        display: none;
    }
    .logo-button {
        display: inline;
    }
    .mobile-download,
    .mobile-product-container {
        display: none;
    }
}


/* change the text selection color to theme purple */

::selection {
    background-color: #6979F8;
    color: white;
}