/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/*the start of my code edit*/


/*Nav bar*/

#navbar {
    position: fixed;
    margin-top: 0px;
    left: 0px;
    right: 0px;
}


/* 更改bootstrap theme color */

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #6979F8 !important;
    border-radius: 25px !important;
}

.nav-link {
    color: #C2C9D2;
}


/* Change footer link color to black */

a.footer-main-page,
a.footer-privacy-page,
a.footer-about-page,
.credit {
    color: black;
}


/* Privacy Policy General Setting Section */

#Privacy-Policy-Section {
    margin-top: 5%;
    margin-bottom: 20%;
    padding: 5%;
}


/* Scroll to the top button */

#btnScrollToTop {
    position: fixed;
    right: 15px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #A5AFFB;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

#btnScrollToTop:active {
    background-color: #6979F8;
}


/*Footer*/

.Footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
}

.credit {
    color: black;
}

.footer-link {
    color: black;
    font-family: 'ZCOOL KuaiLe', cursive;
}


/* Responsive design for mobile device */


/* Mobile Side */

@media screen and (max-width: 768px) {
    #web-menu {
        display: none;
    }
    a.navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        width: 5% !important;
        display: inline-block;
    }
    button.navbar-toggler {
        float: right;
    }
    img.mobile-logo {
        width: 100%;
    }
    .logo-button {
        width: 90%;
        display: inline;
        margin-left: auto;
        margin-right: auto;
    }
    .Footer {
        display: none;
    }
    #Privacy-Policy-Section {
        display: none;
    }
    #Mobile-Privacy-Policy-Section {
        padding: 10%;
    }
}


/* Web Side */

@media screen and (min-width: 768px) {
    #Mobile-Privacy-Policy-Section,
    #mobile-menu {
        display: none;
    }
    .logo-button {
        display: inline;
    }
    #btnScrollToTop {
        display: none;
    }
}


/* change the text selection color to theme purple */

::selection {
    background-color: #6979F8;
    color: white;
}